@font-face {
    font-family: HelveticaNeue;
    src: url("fonts/HelveticaNeue-UltraLight.ttf");
}

@font-face {
    font-family: HelveticaNeueItalic;
    src: url("fonts/Helvetica-Neue-Light-Italic.ttf");
}

@font-face {
    font-family: HelveticaNeueLight;
    src: url("fonts/HelveticaNeue-Light.ttf");
}

h1 {
    font-family: HelveticaNeue, cursive;
    color: rgba(175, 47, 47, 0.15);
    font-size: 100px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    height: 107px;
    text-align: center;
}

.todo-board {

    position: relative;
    background-color: #ffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.todo-board:before,
.todo-board:after {
    content:"";
    position: absolute;
    top: 100%;
    background-color: #ffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);

}

.todo-board:before {
    left: 8px;
    right: 8px;
    height: 8px;
    z-index: -2;
}

.todo-board:after {
    left: 4px;
    right: 4px;
    height: 4px;
    z-index: -1;
}


.wrapper {
    margin: 0 auto;
    width: 40%;
    min-width: 560px;
    height: 400px;
}

body {
    background-color: #f5f5f5;
}

.todo-check {
    background: url("/html/images/select-all.png") no-repeat center;
    width: 24px;
    margin: 28px 18px 23px;
    height: 12px;
    border: 0;
}

.todo-text-input {
    border: 0;
    font-family: HelveticaNeueItalic, cursive;
    outline: none;
    font-size: 24px;
    color: #666;
    width: 75%;
    padding-top: 10px;
}

::-webkit-input-placeholder {
    color: #cccccc;
    font-family: HelveticaNeueItalic, cursive;
}

.todo-creator {
    vertical-align: middle;
    border-bottom: 1px solid #e6e6e6;
    height: 64px;

}

.todo-creator_outer {
    position: relative;
    height: 100%;
}

.todo-creator_inner {
    top: 50%;
    width: 100%;
}

.todo-item {
    display: flex;
    height: 60px;
    border-bottom: 1px solid #e6e6e6;
}

.todo-list {
    display: grid;
}

/* Скрываем реальный чекбокс */
.todo-item-ready-marker {
    display: none;
}

/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */
.checkbox-custom {
    position: relative; /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
    background: url("/html/images/check.png") no-repeat center;
    width: 36px;
    height: 36px;
    margin: 12px 8px 12px 12px;
    display: inline-block;
    vertical-align: middle;
}

/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */
.label {
    font-family: HelveticaNeueLight, cursive;
    font-size: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
    vertical-align: middle;
    color: #666666;
    text-decoration: none;
}

.todo-item-ready-marker:checked ~ .label {
    color: #cccccc;
    text-decoration: line-through;
}

.checkbox-custom:before {
        content: "";
        opacity: 0;
        -webkit-transition: opacity .5s ease;
        background:none;
}

/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */
.todo-item-ready-marker:checked + .checkbox-custom:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #cccccc;
    background: url("/html/images/checked.png") no-repeat center; /* Добавляем фон. Если требуется, можете поставить сюда картинку в виде "галочки", которая будет символизировать, что чекбокс отмечен */
    opacity:1;
    -webkit-transition: opacity .5s ease;
}

.todo-item-remove {
    background: url("/html/images/close.png") no-repeat center;
    width: 18px;
    height: 18px;
    border: 0;
    margin: 22px 12px 21px auto;
    display: none;
    float: right;
}

.todo-item {
    background-color: #ffff;
    -moz-transition: background-color 0.25s 0.1s ease;
    -o-transition: background-color 0.25s 0.1s ease;
    -webkit-transition: background-color 0.25s 0.1s ease;
}

.todo-item:hover {
    background-color: #fafafa;
}

.todo-item_inner:hover {
    cursor: pointer;
}

.todo-item_inner:hover > .todo-item-remove {
    display: inline-block;
}

.todo-item_inner {
    width: 100%;
}

button:hover {
    cursor: pointer;
}

button:focus {
    outline: 0;
}

.todos-toolbar_filters {
    display: inline-block;
    text-align: center;
    width: calc(100% - 200px);
}

.todos-toolbar_unready-counter {
    display: inline-block;
    margin-left: 12px;
    margin-top: 15px;
    margin-bottom: 14px;
}

.todos-toolbar_clear-completed {

    margin-right: 12px;
    margin-top: 15px;
    margin-bottom: 14px;
    float: right;
    cursor: pointer;
}

.todos-toolbar_filter {
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    padding: 2px 8px;
}

.todos-toolbar {
    font-family: HelveticaNeueLight, cursive;
    font-size: 14px;
    color: #888888;
}

.__selected {
    border: 1px solid #ebdfdf;
    border-radius: 2px;
}

.footer_outer{
    height: 5px;
    z-index: 1;
    background-color: #ffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 2px;
    margin-right: 2px;
    position: relative;
}

.footer_inner{
    height: 5px;
    z-index: 0;
    background-color: #ffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-left: 4px;
    margin-right: 4px;
}